
.cart1{    
    height: fit-content;
    background :aqua;
    margin-top: 40px;
    margin-bottom: -65px;
    margin-right: 20px;
    box-shadow:none;
    box-shadow: 10px 10px 10px ;
    font-size:15px;
  }




  